body{
   font-family: 'Handlee', cursive;
}

.header{
  color: red;
   border: 10px solid black;
}

#education{
  color: blue
}

#work{
  color: green
}

#skills{
  color: purple
}

#hobbies{
  color: cyan
}

.

